[submodule "src/FMS"]
	path = src/FMS
	url = git@github.com:NOAA-GFDL/FMS.git
[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:NOAA-GFDL/MOM6.git
[submodule "src/SIS2"]
	path = src/SIS2
	url = git@github.com:NOAA-GFDL/SIS2.git
[submodule "tools/matlab/gtools"]
	path = tools/matlab/gtools
	url = https://github.com/Adcroft/gtools.git
[submodule "tools/python/MIDAS"]
	path = tools/python/MIDAS
	url = https://github.com/mjharriso/MIDAS.git
[submodule "src/icebergs"]
	path = src/icebergs
	url = git@github.com:NOAA-GFDL/icebergs.git
[submodule "src/coupler"]
	path = src/coupler
	url = git@github.com:NOAA-GFDL/coupler.git
[submodule "src/atmos_null"]
	path = src/atmos_null
	url = https://github.com/NOAA-GFDL/atmos_null.git
[submodule "src/land_null"]
	path = src/land_null
	url = https://github.com/NOAA-GFDL/land_null.git
[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/NOAA-GFDL/mkmf.git
