# Build directory might optionally be placed here
build*
# Ignore .datasets
.datasets
# Ignore model output
*.out
CPU_stats
CPU_stats.*
_read_error.nml
available_diags.0*
SIS.available_diags
SIS_fast.available_diags
exitcode
fort.20
*.nc
*.nc.*
RESTART
ocean.stats
ocean.stats.*
seaice.stats
seaice.stats.*
# Ignore python .pyc files
*.pyc
.ipynb_checkpoints
# Ignore anything labeled ignore
*.ignore
# Ignore lcov files
lcov.*
